*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    min-height:100vh;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    position:fixed;
    top:0;
    right:0;
    left:0;
    padding: 10px;
    background-color: rgb(187, 120, 76);
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header #logo{
    font-size: 2.75rem;
    font-weight: 600;
    color:rgb(40, 40, 40);

}

#menu-bar-button{
    display:none;
}

header label{
    display:none;
    font-size: 2rem;
    color:rgb(40, 40, 40);
    padding: 5px 20px;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 15px;
    float:right;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    position: relative;
    float:left;
    border-left: 2px solid rgb(40, 40, 40);
}

header nav ul li a{
    color: rgb(40, 40, 40);
    display:block;
    font-size:1.5rem;
    padding:5px 20px;
}

header nav ul li a:hover{
    background-color: rgb(40, 40, 40);
    color:rgb(187, 120, 76);
}

header nav ul li a:active{
    background-color:rgb(187, 120, 76);
    color:rgb(40, 40, 40);
}

/* pt dropdown */

header nav ul li ul{
    display:none;
    position:absolute;
    left:0;
    width:120px;
    background-color: rgb(187, 120, 76);
}

header nav ul li:hover > ul{
    display:block;
}

header nav ul li ul li{
    width:100%;
    border-top: 3px solid rgb(40, 40, 40);
}



@media(max-width:850px){

header label{
    display:initial;
    cursor: pointer;
}

header label:hover{
    color:rgb(187, 120, 76);
    background-color: rgb(40, 40, 40);
}

header nav{
    display:none;
    background-color: rgb(203, 140, 98);
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:1;
}

header nav ul li{
    position:relative;
    width:100%;
    z-index:2;
}

header nav ul li ul{
    position:relative;
    width: 100%;
}

header nav ul li ul li{
    background-color: rgb(213, 173, 114);
}

#menu-bar-button:checked ~ nav{
    display:initial;
}